<!doctype html>
<html lang="en" ng-app="todomvc" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Hookahgen</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<section id="todoapp" ng-controller="TodoCtrl as TC">
			<header id="header">
				<h1>Hookahgen</h1>
				<form id="todo-form" ng-submit="TC.addTobacco()">
					<input id="new-todo" placeholder="What tobacco do you have?" ng-model="TC.newTobacco.title" autofocus>
				</form>
				<p><a class="generate" ng-click="TC.generateMixes(1)">Generate mixes</a> <a class="generate" ng-click="TC.generateMixes(2)">Generate mixes 2+</a><a class="generate" ng-click="TC.generateMixes(3)">Generate mixes 3+</a></p>
			</header>
			<div class="container">
			<section id="tobacco" ng-show="TC.tobacco.length" ng-cloak>
				<h3>Tobacco you have</h3>
				<ul id="tobacco-list" class="todo-list">
					<li ng-repeat="tobacco in TC.tobacco track by $index"
						ng-class="{completed: tobacco.completed, editing: tobacco === TC.editedTobacco}">
						<div class="view">
							<label ng-dblclick="TC.editTobacco(tobacco)">{{tobacco.title}}</label>
							<button class="destroy" ng-click="TC.removeTobacco($index)"></button>
						</div>
						<form ng-submit="TC.doneEditingTobacco(tobacco, $index)">
							<input class="edit"
								ng-trim="false"
								ng-model="tobacco.title"
								ng-blur="TC.doneEditingTobacco(tobacco, $index)"
								ng-keydown="($event.keyCode === TC.ESCAPE_KEY) && TC.revertEditingTobacco($index)"
								todo-focus="tobacco === TC.editedTobacco">
						</form>
					</li>
				</ul>
			</section>

			<section id="main" ng-show="TC.todos.length" ng-cloak>
				<h3>Mixes you can do</h3>
				<ul id="todo-list" class="todo-list">
					<li ng-repeat="todo in TC.todos | filter:TC.statusFilter track by $index"
						ng-class="{completed: todo.completed, editing: todo === TC.editedTodo}">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.completed">
							<label ng-dblclick="TC.editTodo(todo)">{{todo.title}}</label>
							<button class="destroy" ng-click="TC.removeTodo($index)"></button>
						</div>
						<form ng-submit="TC.doneEditing(todo, $index)">
							<input class="edit"
								ng-trim="false"
								ng-model="todo.title"
								ng-blur="TC.doneEditing(todo, $index)"
								ng-keydown="($event.keyCode === TC.ESCAPE_KEY) && TC.revertEditing($index)"
								todo-focus="todo === TC.editedTodo">
						</form>
					</li>
				</ul>
			</section>
		</div>

			<footer id="footer" ng-show="TC.todos.length" ng-cloak>
				<span id="todo-count"><strong>{{TC.remainingCount}}</strong>
					<ng-pluralize count="TC.remainingCount" when="{ one: 'mix left', other: 'mixes left' }"></ng-pluralize>
				</span>
				<ul id="filters">
					<li>
						<a ng-class="{selected: TC.location.path() == '/'} " href="#/">All</a>
					</li>
					<li>
						<a ng-class="{selected: TC.location.path() == '/active'}" href="#/active">Active</a>
					</li>
					<li>
						<a ng-class="{selected: TC.location.path() == '/completed'}" href="#/completed">Completed</a>
					</li>
				</ul>
				<button id="clear-completed" ng-click="TC.clearCompletedTodos()" ng-show="TC.remainingCount < TC.todos.length">Clear completed</button>
			</footer>
		</section>
		<script src="node_modules/angular/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/services/todoStorage.js"></script>
		<script src="js/directives/todoFocus.js"></script>
	</body>
</html>
